header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 90px;
}

.header {
	display: flex;
	justify-content: space-around;
	padding-top: 50px;
	padding-bottom: 50px;
}

header .logoLink:hover {
	outline: none;
}

.header .photograph-description {
	order: 1;
}

.header .photograph-description h1 {
	color: #d3573c;
	font-size: 40px;
	margin: 10px;
}

.header .photograph-description h2 {
	color: #901c1c;
	margin: 10px;
}

.header .photograph-description p {
	color: #bababa;
	margin: 10px;
}

.header button {
	order: 2;
	margin: 50px;
}

.header button:hover {
	outline: solid black 3px;
	border-radius: 5px;
}

.header img {
	order: 3;
	margin-left: 50px;
	margin-right: 30px;
}

.photograph-header img {
	object-fit: cover;
	border-radius: 200px;
	height: 200px;
	width: 200px;
	box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.78);
}

h1 {
	color: #901c1c;
	margin-right: 100px;
}

.logoLink {
	margin-left: 100px;
}

.logo {
	height: 50px;
}

.photograph-header {
	background-color: #fafafa;
	height: 300px;
	margin: 0 100px;
}

.contact_button {
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding: 11px;
	width: 170px;
	height: 70px;
	border: none;
	background-color: #901c1c;
	border-radius: 5px;
	cursor: pointer;
}