@import url("index.css");
@import url("modal.css");
@import url("header.css");
@import url("wrapper.css");
@import url("media.css");
@import url("lightbox.css");
@import url("footer.css");

body {
	font-family: "DM Sans", sans-serif;
	margin: 0;
}

a:focus {
	outline: solid #901c1c 3px;
	border-radius: 5px;
}

a:hover {
	outline: solid #901c1c 3px;
	border-radius: 5px;
}
